FLASK_SECRET_KEY=change-me-to-a-random-value
FLASK_VRC__USERNAME=
FLASK_VRC__PASSWORD=
FLASK_VRC__GROUP_ID=
FLASK_VRC__MFA_CODE=

ADMIN_EMAIL=
ADMIN_PASSWORD=
KEY=
SECRET=
VRC_AUTH_USERNAME=
VRC_AUTH_PASSWORD=
VRC_AUTH_MFATOKEN=
AUTH_VRCHAT_CLIENT_SECRET=
